binh_clone.txt
[{"id":"b3bb663b.8cf738","type":"mqtt in","z":"37190b8d.4526e4","name":"Read Sensor","topic":"send","qos":"0","broker":"45affbb8.22b454","x":90,"y":40,"wires":[["470c856e.366a3c"]]},{"id":"470c856e.366a3c","type":"json","z":"37190b8d.4526e4","name":"","property":"payload","action":"","pretty":false,"x":230,"y":40,"wires":[["ffe5a644.f835c8","c348c413.baf438","922e8258.a4715"]]},{"id":"ffe5a644.f835c8","type":"change","z":"37190b8d.4526e4","name":"Out Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":40,"wires":[["fa8fe772.9a2c48"]]},{"id":"c348c413.baf438","type":"change","z":"37190b8d.4526e4","name":"Out Humi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[["1e74bbd8.60d3a4"]]},{"id":"fa8fe772.9a2c48","type":"ui_gauge","z":"37190b8d.4526e4","name":"Gauge Temp R1","group":"10772b23.60be25","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"oC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":40,"wires":[]},{"id":"1e74bbd8.60d3a4","type":"ui_gauge","z":"37190b8d.4526e4","name":"Gauge Hum R1","group":"67dc71b8.98b2f","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":80,"wires":[]},{"id":"922e8258.a4715","type":"delay","z":"37190b8d.4526e4","name":"delay 5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":120,"wires":[["366b7ee0.d25aa2"]]},{"id":"366b7ee0.d25aa2","type":"function","z":"37190b8d.4526e4","name":"Insert DB","func":"var year = new Date().getFullYear().toString();\nvar month = new Date().getMonth().toString() ;\nif(month<10) {\n    month = \"0\" + month;\n}\nvar date = new Date().getDate().toString();\nif(date<10) {\n    date = \"0\" + date;\n}\nvar day = year + month + date;\nvar out = \"INSERT INTO sensor (temp,humi,time,timed)\";\nout = out + \" VALUES ('\"+ msg.payload.temp +\"','\"+ msg.payload.hum +\"','\"+ new Date().toLocaleTimeString(\"ja-JP\") + \"','\"+ day +\"')\";\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":120,"wires":[["9afc73c4.fd094"]]},{"id":"9afc73c4.fd094","type":"mysql","z":"37190b8d.4526e4","mydb":"d1968329.abe5","name":"DB Sensor","x":710,"y":120,"wires":[[]]},{"id":"9258b101.784a2","type":"inject","z":"37190b8d.4526e4","name":"Clock 1S","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["3da2befc.e73d12"]]},{"id":"3da2befc.e73d12","type":"function","z":"37190b8d.4526e4","name":"Read 15 DB","func":"msg.topic = \"SELECT * FROM sensor ORDER BY ID DESC LIMIT 20\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["c5630a4a.fe8ec8"]]},{"id":"c5630a4a.fe8ec8","type":"mysql","z":"37190b8d.4526e4","mydb":"d1968329.abe5","name":"DB Sensor","x":430,"y":180,"wires":[["74d2b32b.f22a4c","bf38ad79.cb4bf","dcefea39.381b38"]]},{"id":"74d2b32b.f22a4c","type":"function","z":"37190b8d.4526e4","name":"Read Temp","func":"var str = msg.payload;\nstr = str[0]['temp'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["63886033.ffe15"]]},{"id":"bf38ad79.cb4bf","type":"function","z":"37190b8d.4526e4","name":"Read Hum","func":"var str = msg.payload;\nstr = str[0]['humi'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["42971b90.8f0594"]]},{"id":"3ad587c4.afe358","type":"ui_chart","z":"37190b8d.4526e4","name":"","group":"10772b23.60be25","order":0,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"msg.payload","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":180,"wires":[[],[]]},{"id":"a35533a5.e6ad1","type":"ui_chart","z":"37190b8d.4526e4","name":"","group":"67dc71b8.98b2f","order":0,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":220,"wires":[[],[]]},{"id":"753882a0.6d186c","type":"function","z":"37190b8d.4526e4","name":"Read 15 DB","func":"var from = global.get(\"fromday\");\nvar to = global.get(\"today\");\nmsg.topic = \"SELECT * FROM sensor WHERE Timed BETWEEN \"+ from + \" AND \" + to ;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["9c40e1e0.0f576"]]},{"id":"9c40e1e0.0f576","type":"mysql","z":"37190b8d.4526e4","mydb":"d1968329.abe5","name":"DB Sensor","x":590,"y":340,"wires":[["bac2fc72.4d2dd"]]},{"id":"bac2fc72.4d2dd","type":"excel","z":"37190b8d.4526e4","name":"Out Excel","file":"/home/nguyenvanbinh993/Data-export.xlsx","x":740,"y":340,"wires":[["7ad40a2d.1befa4"]]},{"id":"7ad40a2d.1befa4","type":"debug","z":"37190b8d.4526e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":340,"wires":[]},{"id":"d21516ea.93a8e8","type":"ui_text","z":"37190b8d.4526e4","group":"2bcff8df.d1f878","order":0,"width":0,"height":0,"name":"About","label":"Contact : Cesasvn.com","format":"{{msg.payload}}","layout":"col-center","x":350,"y":480,"wires":[]},{"id":"69868e79.e5c54","type":"ui_text","z":"37190b8d.4526e4","group":"2bcff8df.d1f878","order":0,"width":0,"height":0,"name":"About","label":"Siris Robotics CO ., LTD","format":"{{msg.payload}}","layout":"col-center","x":470,"y":480,"wires":[]},{"id":"1293f30a.e5010d","type":"ui_text","z":"37190b8d.4526e4","group":"adbd11c9.d0d0c","order":0,"width":0,"height":0,"name":"Control","label":"Comming soon !","format":"{{msg.payload}}","layout":"col-center","x":220,"y":480,"wires":[]},{"id":"dcefea39.381b38","type":"ui_template","z":"37190b8d.4526e4","group":"f847acb8.6f7c4","name":"Table","order":0,"width":"6","height":"8","format":"<table style=\"width:100%\" bordercolor=\"Grey\" border=\"1px\" cellspacing=\"0px\">\n<tr bgcolor=\"sky-blue\" height=\"30px\" border=\"1\">\n<th>Index</th>\n<th>Temp</th>\n<th>Hum</th>\n<th width=\"40%\">Time</th>\n</tr>\n<tr align=\"center\" ng-repeat=\"x in msg.payload | limitTo:20\">\n<td>{{$index}}</td>\n<td>{{msg.payload[$index].temp}}</td>\n<td>{{msg.payload[$index].humi}}</td>\n<td>{{msg.payload[$index].time}}</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":630,"y":260,"wires":[[]]},{"id":"6c805bd6.b0e544","type":"ui_template","z":"37190b8d.4526e4","group":"b4dbeb58.b75c28","name":"","order":3,"width":0,"height":0,"format":"<html>\n<head>\n</head>\n<body>\n\n<form action = \"http://35.186.150.189:1880/Data-export.xlsx\" method = \"get\">\n    <button \n    type=\"submit\"\n    name = \"Submit\"\n    value = \"Download Records\"\n    formenctype=\"text/plain\"\n    \n    >Download Excel</button>\n    \n    <section>\n  <div class=\"center\">\n    <a class=\"trigger\" href=\"https://codyhouse.co/course/mastering-css-transitions-transformations-animations/\">\n      <span>\n        <em>Download</em><i aria-hidden=\"true\"></i>\n      </span>\n    </a>\n  </div>\n</section>\n    \n</form>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":880,"y":680,"wires":[[]]},{"id":"94c2a95b.f2bf78","type":"ui_date_picker","z":"37190b8d.4526e4","name":"From Day","label":"From","group":"b4dbeb58.b75c28","order":1,"width":"0","height":"0","passthru":false,"topic":"day","x":80,"y":340,"wires":[["b8494c4f.5eac7"]]},{"id":"bfe1753f.40c088","type":"ui_date_picker","z":"37190b8d.4526e4","name":"To Day","label":"To","group":"b4dbeb58.b75c28","order":2,"width":0,"height":0,"passthru":true,"topic":"day","x":70,"y":380,"wires":[["96b43392.8cf21"]]},{"id":"b8494c4f.5eac7","type":"function","z":"37190b8d.4526e4","name":"Read From To","func":"var year = new Date(msg.payload).getFullYear().toString();\nvar month = new Date(msg.payload).getMonth().toString() ;\nif(month<10) {\n    month = \"0\" + month;\n}\nvar date = new Date(msg.payload).getDate().toString();\nif(date<10) {\n    date = \"0\" + date;\n}\nvar day = year + month + date ;\nmsg.payload = day;\nglobal.set(\"fromday\",day);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":340,"wires":[["753882a0.6d186c"]]},{"id":"96b43392.8cf21","type":"function","z":"37190b8d.4526e4","name":"Read From To","func":"var year = new Date(msg.payload).getFullYear().toString();\nvar month = new Date(msg.payload).getMonth().toString() ;\nif(month<10) {\n    month = \"0\" + month;\n}\nvar date = new Date(msg.payload).getDate().toString();\nif(date<10) {\n    date = \"0\" + date;\n}\nvar day = year + month + date ;\nmsg.payload = day;\nglobal.set(\"today\",day);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["753882a0.6d186c"]]},{"id":"63886033.ffe15","type":"change","z":"37190b8d.4526e4","name":"Out Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":180,"wires":[["3ad587c4.afe358"]]},{"id":"42971b90.8f0594","type":"change","z":"37190b8d.4526e4","name":"Out Humi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":220,"wires":[["a35533a5.e6ad1"]]},{"id":"10b45b37.3bf8d5","type":"ui_button","z":"37190b8d.4526e4","name":"","group":"b4dbeb58.b75c28","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"down","x":650,"y":440,"wires":[["27eba0d1.daca8"]]},{"id":"a9296577.493eb8","type":"inject","z":"37190b8d.4526e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":580,"wires":[[]]},{"id":"be74a287.1af81","type":"inject","z":"37190b8d.4526e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":540,"wires":[["27eba0d1.daca8"]]},{"id":"27eba0d1.daca8","type":"debug","z":"37190b8d.4526e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":540,"wires":[]},{"id":"6d1ef1f.0b6751","type":"template","z":"37190b8d.4526e4","name":"Html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<section>\n  <div class=\"center\">\n    <a class=\"trigger\" href=\"https://codyhouse.co/course/mastering-css-transitions-transformations-animations/\">\n      <span>\n        <em>Download</em><i aria-hidden=\"true\"></i>\n      </span>\n    </a>\n  </div>\n</section>\n\n<div class=\"footer\"><a href=\"https://codyhouse.co/course/mastering-css-transitions-transformations-animations/\">Mastering CSS Transitions, Transformations & Animations</a></div>","output":"str","x":590,"y":760,"wires":[[]]},{"id":"6931799c.029fd8","type":"template","z":"37190b8d.4526e4","name":"CCS","field":"payload.stype","fieldType":"msg","format":"css","syntax":"mustache","template":"*,\n*::after,\n*::before {\n  box-sizing: border-box;\n}\n\nhtml {\n  font-size: 62.5%;\n}\n\nbody {\n  font-size: 1.6rem;\n  font-family: sans-serif;\n  color: #fff;\n  background: #333;\n}\n\na {\n  text-decoration: none;\n}\n\nsection {\n  width: 100%;\n  height: 100vh;\n  display: table;\n}\n\nsection .center {\n  display: table-cell;\n  vertical-align: middle;\n  text-align: center;\n}\n\n.trigger {\n  position: relative;\n  background: #007ee5;\n  display: inline-block;\n  width: 200px;\n  height: 60px;\n  color: #fff;\n  border-radius: 50em;\n  box-shadow: 0 2px 10px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .2);\n}\n\nspan,\nem,\ni {\n  position: absolute;\n  width: 100%;\n  height: 100%;\n  left: 0;\n}\n\nspan {\n  overflow: hidden;\n}\n\nem,\ni {\n  transition: top .3s;\n}\n\nem {\n  top: 0;\n  line-height: 60px;\n}\n\ni {\n  top: 100%;\n  background: url(https://cdn3.iconfinder.com/data/icons/popular-services-1/512/dropbox-48.png) no-repeat center center;\n}\n\n.trigger:hover em {\n  top: -100%;\n}\n\n.trigger:hover i {\n  top: 0;\n}\n\n.trigger::before,\n.trigger::after {\n  position: absolute;\n  opacity: 0;\n  transition: all .3s;\n  visibility: hidden;\n}\n\n.trigger::before {\n  content: \"File Size: 50MB\";\n  position: absolute;\n  width: 140px;\n  height: 60px;\n  background: #E58B00;\n  border-radius: .25em;\n  line-height: 60px;\n  bottom: 90px;\n  left: calc(50% - 70px);\n}\n\n.trigger:after {\n  content: '';\n  width: 0;\n  height: 0;\n  border: 10px solid #333;\n  border-top-color: #E58B00;\n  left: calc(50% - 10px);\n  bottom: 70px;\n}\n\n.trigger:hover::before,\n.trigger:hover::after {\n  opacity: 1;\n  visibility: visible;\n}","output":"str","x":430,"y":680,"wires":[[]]},{"id":"c386b659.ae2108","type":"template","z":"37190b8d.4526e4","name":"Java Script","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"","output":"str","x":270,"y":680,"wires":[["6931799c.029fd8"]]},{"id":"9d5b55db.d9a348","type":"ui_template","z":"37190b8d.4526e4","group":"b4dbeb58.b75c28","name":"","order":0,"width":0,"height":0,"format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":640,"wires":[[]]},{"id":"84ef94df.2f19e8","type":"http in","z":"37190b8d.4526e4","name":"","url":"sign","method":"get","upload":false,"swaggerDoc":"","x":120,"y":680,"wires":[["356acca0.3021b4"]]},{"id":"9017b8ab.e90318","type":"http response","z":"37190b8d.4526e4","name":"","statusCode":"","headers":{},"x":570,"y":680,"wires":[]},{"id":"356acca0.3021b4","type":"template","z":"37190b8d.4526e4","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/signup\" method=\"post\">\n      <h1>Enter your information below to sign up for our newsletter</h1>\n      <label for=\"email\">Email Address:</label>\n      <input type=\"text\" name=\"email\" />\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>","output":"str","x":320,"y":740,"wires":[["9017b8ab.e90318"]]},{"id":"45affbb8.22b454","type":"mqtt-broker","z":"","name":"Broker","broker":"35.187.244.240","port":"1883","clientid":"read1","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10772b23.60be25","type":"ui_group","z":"","name":"Temperature Room 1","tab":"5978285b.2c9a08","order":1,"disp":true,"width":"6","collapse":false},{"id":"67dc71b8.98b2f","type":"ui_group","z":"","name":"Humidity Room 1","tab":"5978285b.2c9a08","order":2,"disp":true,"width":"6","collapse":false},{"id":"d1968329.abe5","type":"MySQLdatabase","z":"","host":"35.187.244.240","port":"3306","db":"readsensor","tz":"+7"},{"id":"2bcff8df.d1f878","type":"ui_group","z":"","name":"About","tab":"75e1739d.6d887c","order":1,"disp":true,"width":"6","collapse":false},{"id":"adbd11c9.d0d0c","type":"ui_group","z":"","name":"Control Device","tab":"fa6f96d2.9100f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f847acb8.6f7c4","type":"ui_group","z":"","name":"Datalog","tab":"5978285b.2c9a08","order":3,"disp":true,"width":"6","collapse":false},{"id":"b4dbeb58.b75c28","type":"ui_group","z":"37190b8d.4526e4","name":"Export Data","tab":"5978285b.2c9a08","order":4,"disp":true,"width":"6","collapse":false},{"id":"5978285b.2c9a08","type":"ui_tab","z":"","name":"Monitoring","icon":"dashboard","order":1},{"id":"75e1739d.6d887c","type":"ui_tab","z":"","name":"About","icon":"dashboard","order":3},{"id":"fa6f96d2.9100f8","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":2}]