bitcoin_node_red.txt
[{"id":"e2f1ab0c.d8de68","type":"tab","label":"SocketIO test"},{"id":"305243a.ec295bc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4de626d1.6589b8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"3d4bd159.cc281e","type":"ui_group","z":"","name":"Group 1","tab":"4de626d1.6589b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b3723069.91b84","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"dt_database","name":"dt_database"},{"id":"b319cf6d.622fa","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"e2394cfe.63b13","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"3c77916e.b2ff6e","type":"ui_group","name":"Group 1","tab":"e2394cfe.63b13","order":1,"disp":true,"width":6},{"id":"6befe34f.6a426c","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"e31ef642.0ab058","type":"socketio-config","z":"","port":"1881","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"263b235d.b8b2fc","type":"mongodb","z":"e2f1ab0c.d8de68","hostname":"127.0.0.1","port":"27017","db":"myDB","name":""},{"id":"32f1cb99.4373d4","type":"ui_group","z":"","name":"Numbers","tab":"c3f925da.b073b8","order":1,"disp":false,"width":"5"},{"id":"28a36873.92aed8","type":"ui_group","z":"","name":"Chart","tab":"c3f925da.b073b8","order":2,"disp":false,"width":"18"},{"id":"c3f925da.b073b8","type":"ui_tab","z":"","name":"Binance Node Demo","icon":"fa-bitcoin"},{"id":"1b23a837.3e9538","type":"ui_group","z":"","name":"Numbers","tab":"a7723435.157d08","order":1,"disp":false,"width":"5"},{"id":"a62b1382.b59fe","type":"ui_group","z":"","name":"Chart","tab":"a7723435.157d08","order":2,"disp":false,"width":"18"},{"id":"a7723435.157d08","type":"ui_tab","z":"","name":"Binance Node Demo","icon":"fa-bitcoin"},{"id":"91c63b1b.208198","type":"ui_text","z":"e2f1ab0c.d8de68","group":"1b23a837.3e9538","order":2,"width":"0","height":"0","name":"","label":"Bid Price","format":"{{msg.payload.bidPrice}}","layout":"row-spread","x":780,"y":360,"wires":[]},{"id":"6879c6f6.78eeb8","type":"ui_chart","z":"e2f1ab0c.d8de68","name":"","group":"a62b1382.b59fe","order":3,"width":"18","height":"10","label":"","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Click on a crypto or provide a ticker pair","dot":true,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":900,"wires":[[],[]]},{"id":"f424f02d.72107","type":"binance-get-candlesticks","z":"e2f1ab0c.d8de68","name":"","ticker":"","interval":"1d","limit":"30","startTime":"","endTime":"","x":840,"y":780,"wires":[["2537b917.974bf6"]]},{"id":"2537b917.974bf6","type":"function","z":"e2f1ab0c.d8de68","name":"built chart data","func":"\nvar series = [msg.topic]\nvar data = msg.payload.map(function (d) {\n return {\n x: d[0],\n y: d[4] // close price\n }\n});\n\nmsg.payload = [{\n series: series,\n data: [data]\n}]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":840,"wires":[["6879c6f6.78eeb8"]]},{"id":"a106c126.5d1a7","type":"function","z":"e2f1ab0c.d8de68","name":"set values for API","func":"if (typeof msg.payload === 'string') {\n flow.set(\"selectedTickerPair\", msg.payload);\n}\nmsg.topic = flow.get(\"selectedTickerPair\");\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["b83b4634.b0db88","2669bab2.b68b36","61d1a38b.d5520c","2942c877.53c5c8"]]},{"id":"f04beb1f.373ae8","type":"ui_button","z":"e2f1ab0c.d8de68","name":"","group":"a62b1382.b59fe","order":2,"width":"2","height":"1","passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"refresh","payload":"selectedTickerPair","payloadType":"flow","topic":"","x":80,"y":360,"wires":[["53366b0.14e9994","63f42a5b.ee0394"]]},{"id":"c4a6835e.898b5","type":"ui_button","z":"e2f1ab0c.d8de68","name":"","group":"a62b1382.b59fe","order":6,"width":"2","height":"1","passthru":false,"label":"Ethereum","color":"","bgcolor":"#555555","icon":"","payload":"ETHBTC","payloadType":"str","topic":"","x":80,"y":440,"wires":[["53366b0.14e9994"]]},{"id":"9c926a6c.6d8df8","type":"ui_button","z":"e2f1ab0c.d8de68","name":"","group":"a62b1382.b59fe","order":7,"width":"2","height":"1","passthru":false,"label":"Neo","color":"","bgcolor":"#58be02","icon":"","payload":"NEOBTC","payloadType":"str","topic":"","x":70,"y":480,"wires":[["53366b0.14e9994"]]},{"id":"afe3cbe3.200228","type":"ui_button","z":"e2f1ab0c.d8de68","name":"","group":"a62b1382.b59fe","order":4,"width":"2","height":"1","passthru":false,"label":"BTC","color":"","bgcolor":"#ff8e13","icon":"","payload":"BTCUSDT","payloadType":"str","topic":"","x":70,"y":400,"wires":[["53366b0.14e9994"]]},{"id":"53096480.8f398c","type":"ui_button","z":"e2f1ab0c.d8de68","name":"","group":"a62b1382.b59fe","order":5,"width":"2","height":"1","passthru":false,"label":"Litecoin","color":"","bgcolor":"#bebebe","icon":"","payload":"LTCBTC","payloadType":"str","topic":"","x":80,"y":520,"wires":[["53366b0.14e9994"]]},{"id":"b83b4634.b0db88","type":"binance-get-book-ticker","z":"e2f1ab0c.d8de68","name":"","ticker":"","x":600,"y":380,"wires":[["91c63b1b.208198","d313af24.fab98"]]},{"id":"d313af24.fab98","type":"ui_text","z":"e2f1ab0c.d8de68","group":"1b23a837.3e9538","order":3,"width":"0","height":"0","name":"","label":"Ask Price","format":"{{msg.payload.askPrice}}","layout":"row-spread","x":780,"y":400,"wires":[]},{"id":"53366b0.14e9994","type":"ui_text_input","z":"e2f1ab0c.d8de68","name":"","label":"Ticker pair","group":"a62b1382.b59fe","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":350,"y":420,"wires":[["841d3f4e.66207"]]},{"id":"2669bab2.b68b36","type":"binance-get-day-stats","z":"e2f1ab0c.d8de68","name":"","ticker":"","x":590,"y":480,"wires":[["a77faaee.ea8a78","233ced1e.a4e3e2","ebf3fd27.5e43b","dd180230.82905"]]},{"id":"6450e387.131f1c","type":"catch","z":"e2f1ab0c.d8de68","name":"","scope":null,"x":80,"y":940,"wires":[["e399867.2e18278","fae824df.a094d8"]]},{"id":"a76504b1.822468","type":"ui_toast","z":"e2f1ab0c.d8de68","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":530,"y":940,"wires":[]},{"id":"e399867.2e18278","type":"debug","z":"e2f1ab0c.d8de68","name":"","active":true,"console":false,"complete":"error","x":220,"y":980,"wires":[]},{"id":"fae824df.a094d8","type":"function","z":"e2f1ab0c.d8de68","name":"","func":"msg.topic = \"API Error\";\nif (msg.error) {\n msg.payload = msg.error.message\n} else {\n msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":940,"wires":[["eccc41df.d2a5d"]]},{"id":"a77faaee.ea8a78","type":"ui_text","z":"e2f1ab0c.d8de68","group":"1b23a837.3e9538","order":4,"width":"0","height":"0","name":"","label":"24 hr Low","format":"{{msg.payload.lowPrice}}","layout":"row-spread","x":780,"y":440,"wires":[]},{"id":"233ced1e.a4e3e2","type":"ui_text","z":"e2f1ab0c.d8de68","group":"1b23a837.3e9538","order":5,"width":"0","height":"0","name":"","label":"24 hr high","format":"{{msg.payload.highPrice}}","layout":"row-spread","x":780,"y":480,"wires":[]},{"id":"ebf3fd27.5e43b","type":"ui_text","z":"e2f1ab0c.d8de68","group":"1b23a837.3e9538","order":6,"width":"0","height":"0","name":"","label":"24 hr Price % change","format":"{{msg.payload.priceChangePercent}}%","layout":"row-spread","x":820,"y":520,"wires":[]},{"id":"dd180230.82905","type":"ui_text","z":"e2f1ab0c.d8de68","group":"1b23a837.3e9538","order":7,"width":"0","height":"0","name":"","label":"24 hr volume","format":"{{msg.payload.volume}}","layout":"row-spread","x":790,"y":560,"wires":[]},{"id":"3555c37b.36e00c","type":"ui_button","z":"e2f1ab0c.d8de68","name":"","group":"a62b1382.b59fe","order":8,"width":"2","height":"1","passthru":false,"label":"Ripple","color":"","bgcolor":"#0086be","icon":"","payload":"XRPBTC","payloadType":"str","topic":"","x":70,"y":560,"wires":[["53366b0.14e9994"]]},{"id":"ac30249d.483768","type":"ui_slider","z":"e2f1ab0c.d8de68","name":"","label":"","group":"1b23a837.3e9538","order":9,"width":0,"height":0,"passthru":true,"topic":"","min":"2","max":"14","step":1,"x":70,"y":880,"wires":[["a2319b8.64a0468"]]},{"id":"5abb6bd7.b480a4","type":"function","z":"e2f1ab0c.d8de68","name":"set values for api","func":"\nvar interval = \"1d\";\n\nswitch(msg.payload) {\n case 0:\n interval = \"1m\";\n break;\n case 1:\n interval = \"3m\";\n break;\n case 2:\n interval = \"5m\";\n break; \n case 3:\n interval = \"15m\";\n break;\n case 4:\n interval = \"1h\";\n break;\n case 5:\n interval = \"2h\";\n break;\n case 6:\n interval = \"4h\";\n break;\n case 7:\n interval = \"6h\";\n break;\n case 8:\n interval = \"8h\";\n break;\n case 9:\n interval = \"12h\";\n break;\n case 10:\n interval = \"1d\";\n break;\n case 11:\n interval = \"3d\";\n break;\n case 12:\n interval = \"1w\";\n break;\n case 13:\n interval = \"1M\";\n break;\n}\n\nflow.set(\"interval\", interval);\nmsg.payload = interval;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":880,"wires":[["f0b2b8d4.870dd8","61d1a38b.d5520c"]]},{"id":"a2319b8.64a0468","type":"delay","z":"e2f1ab0c.d8de68","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":880,"wires":[["5abb6bd7.b480a4"]]},{"id":"d7bbd7cd.7b2438","type":"ui_button","z":"e2f1ab0c.d8de68","name":"","group":"a62b1382.b59fe","order":9,"width":"2","height":"1","passthru":false,"label":"Monero","color":"","bgcolor":"#ff6600","icon":"","payload":"XMRBTC","payloadType":"str","topic":"","x":80,"y":600,"wires":[["53366b0.14e9994"]]},{"id":"f0b2b8d4.870dd8","type":"ui_text","z":"e2f1ab0c.d8de68","group":"1b23a837.3e9538","order":8,"width":"0","height":"0","name":"","label":"Chart time interval","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":880,"wires":[]},{"id":"4400d858.5ad2a8","type":"inject","z":"e2f1ab0c.d8de68","name":"initialize","topic":"10","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"x":80,"y":840,"wires":[["ac30249d.483768"]]},{"id":"cd2a6efc.54f88","type":"ui_numeric","z":"e2f1ab0c.d8de68","name":"","label":"# datapoints","group":"1b23a837.3e9538","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"500","step":1,"x":90,"y":780,"wires":[["de0e71e.a05f59"]]},{"id":"d8b91e9a.7f115","type":"inject","z":"e2f1ab0c.d8de68","name":"initialize","topic":"30","payload":"30","payloadType":"num","repeat":"","crontab":"","once":true,"x":80,"y":740,"wires":[["cd2a6efc.54f88"]]},{"id":"ffe1c633.010878","type":"function","z":"e2f1ab0c.d8de68","name":"set values for api","func":"flow.set(\"limit\", parseInt(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":780,"wires":[["61d1a38b.d5520c"]]},{"id":"61d1a38b.d5520c","type":"function","z":"e2f1ab0c.d8de68","name":"load chart options","func":"msg.topic = flow.get(\"selectedTickerPair\");\nmsg.payload = {};\nmsg.payload.interval = flow.get(\"interval\");\nmsg.payload.limit = flow.get(\"limit\");\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":780,"wires":[["f424f02d.72107"]]},{"id":"de0e71e.a05f59","type":"delay","z":"e2f1ab0c.d8de68","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":780,"wires":[["ffe1c633.010878"]]},{"id":"63f42a5b.ee0394","type":"ui_toast","z":"e2f1ab0c.d8de68","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Refreshing chart","name":"","x":370,"y":360,"wires":[]},{"id":"4cba238e.e5cd8c","type":"ui_template","z":"e2f1ab0c.d8de68","group":"1b23a837.3e9538","name":"Logo display","order":1,"width":"4","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":600,"wires":[[]]},{"id":"2942c877.53c5c8","type":"function","z":"e2f1ab0c.d8de68","name":"load logo","func":"var symbol = msg.topic.slice(0,-3);\nsymbol = symbol.toLowerCase();\n\nif (symbol === \"btcu\") { // USDT case\n symbol = \"btc\";\n}\n\nvar imgUrl = \"https://raw.githubusercontent.com/cjdowner/cryptocurrency-icons/master/128/color/\"+symbol+\".png\";\n\nmsg.payload = \"<img src='\"+imgUrl+\"'alt='Logo image not found' />\";\n\nreturn msg","outputs":1,"noerr":0,"x":640,"y":600,"wires":[["4cba238e.e5cd8c"]]},{"id":"841d3f4e.66207","type":"delay","z":"e2f1ab0c.d8de68","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":460,"wires":[["a106c126.5d1a7"]]},{"id":"f2b742f6.bd279","type":"ui_button","z":"e2f1ab0c.d8de68","name":"","group":"a62b1382.b59fe","order":9,"width":"2","height":"1","passthru":false,"label":"Stellar","color":"","bgcolor":"#99a2a6","icon":"","payload":"XLMBTC","payloadType":"str","topic":"","x":70,"y":640,"wires":[["53366b0.14e9994"]]},{"id":"ef3d3d03.102ca","type":"ui_button","z":"e2f1ab0c.d8de68","name":"","group":"a62b1382.b59fe","order":9,"width":"2","height":"1","passthru":false,"label":"Zcash","color":"","bgcolor":"#e49b2e","icon":"","payload":"ZECBTC","payloadType":"str","topic":"","x":70,"y":680,"wires":[["53366b0.14e9994"]]},{"id":"eccc41df.d2a5d","type":"delay","z":"e2f1ab0c.d8de68","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":940,"wires":[["a76504b1.822468"]]}]