mongodb_connect_example.txt
[{"id":"9e8a153d.a9bdd8","type":"mongodb out","z":"e2f1ab0c.d8de68","mongodb":"263b235d.b8b2fc","name":"","collection":"myCollection","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":470,"y":180,"wires":[]},{"id":"1ee10524.11a45b","type":"mongodb in","z":"e2f1ab0c.d8de68","mongodb":"263b235d.b8b2fc","name":"","collection":"myCollection","operation":"find","x":470,"y":240,"wires":[["a4404064.a6d17"]]},{"id":"fcfaf4f3.d8b398","type":"http in","z":"e2f1ab0c.d8de68","name":"GET /api/all","url":"/api/all","method":"get","swaggerDoc":"","x":230,"y":240,"wires":[["1ee10524.11a45b"]]},{"id":"a4404064.a6d17","type":"function","z":"e2f1ab0c.d8de68","name":"Content-Type","func":"msg.headers = {\"Content-Type\" : \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["e7934578.17eb18"]]},{"id":"e7934578.17eb18","type":"http response","z":"e2f1ab0c.d8de68","name":"","x":870,"y":240,"wires":[]},{"id":"263b235d.b8b2fc","type":"mongodb","z":"e2f1ab0c.d8de68","hostname":"127.0.0.1","port":"27017","db":"myDB","name":""}]