mongodb_node_red.txt
[{"id":"30224508.6d4fea","type":"ui_button","z":"84139d42.bf08f","name":"","group":"3d4bd159.cc281e","order":0,"width":0,"height":0,"passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":170,"y":100,"wires":[["b5ce3b54.988b08","7617ab4d.3a91a4","dc977098.343d7"]]},{"id":"d9c6bb39.c7bc68","type":"ui_button","z":"84139d42.bf08f","name":"","group":"3d4bd159.cc281e","order":0,"width":0,"height":0,"passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":160,"y":180,"wires":[["b5ce3b54.988b08","7617ab4d.3a91a4","dc977098.343d7"]]},{"id":"7617ab4d.3a91a4","type":"ui_switch","z":"84139d42.bf08f","name":"","label":"STATE","group":"3d4bd159.cc281e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":140,"wires":[[]]},{"id":"dc977098.343d7","type":"ui_text","z":"84139d42.bf08f","group":"3d4bd159.cc281e","order":0,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload}}","layout":"col-center","x":410,"y":220,"wires":[]},{"id":"b5ce3b54.988b08","type":"debug","z":"84139d42.bf08f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":80,"wires":[]},{"id":"888db2d0.9196b","type":"mongodb out","z":"84139d42.bf08f","mongodb":"b3723069.91b84","name":"test","collection":"dt_collection","payonly":true,"upsert":false,"multi":true,"operation":"store","x":690,"y":340,"wires":[]},{"id":"b8fe67d4.f7d1d8","type":"ui_button","z":"84139d42.bf08f","name":"","group":"3d4bd159.cc281e","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"{\"_id\":\"5b0f93b69f5187aa99fa6093\",\"data2\":\"test1\"}","payloadType":"json","topic":"","x":200,"y":340,"wires":[["888db2d0.9196b","b7a42338.23938"]]},{"id":"58d9169e.399d28","type":"ui_button","z":"84139d42.bf08f","name":"","group":"3d4bd159.cc281e","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"{\"_id\":\"5b0f93b69f5187aa99fa6093\",\"data2\":\"test2\"}","payloadType":"json","topic":"","x":180,"y":420,"wires":[["888db2d0.9196b","b7a42338.23938"]]},{"id":"744aa30d.969f9c","type":"ui_text","z":"84139d42.bf08f","group":"3d4bd159.cc281e","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":220,"wires":[]},{"id":"b7a42338.23938","type":"mongodb in","z":"84139d42.bf08f","mongodb":"b3723069.91b84","name":"","collection":"dt_collection","operation":"find","x":250,"y":300,"wires":[["744aa30d.969f9c"]]},{"id":"3d4bd159.cc281e","type":"ui_group","z":"","name":"Group 1","tab":"4de626d1.6589b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b3723069.91b84","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"dt_database","name":"dt_database"},{"id":"4de626d1.6589b8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]