mqtt_sensor.txt
[{"id":"3588ce66.144b12","type":"debug","z":"ab4fa783.c78b38","name":"Debug Tab","active":true,"console":"false","complete":"payload","x":698,"y":364,"wires":[]},{"id":"7786e2a1.fd269c","type":"comment","z":"ab4fa783.c78b38","name":"MQTT In: Temp & Humidity","info":"","x":387.5,"y":55,"wires":[]},{"id":"8e96ff99.882e8","type":"ui_text","z":"ab4fa783.c78b38","group":"b64d418e.a9fee","order":0,"width":0,"height":0,"name":"Temperature","label":"Temp (Celcius): ","format":"{{msg.payload}}","layout":"row-left","x":688,"y":146,"wires":[]},{"id":"baa5ed3b.33cdf","type":"ui_chart","z":"ab4fa783.c78b38","name":"Chart","group":"b64d418e.a9fee","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":674,"y":213,"wires":[[],[]]},{"id":"d4de3c4.0673bc","type":"ui_gauge","z":"ab4fa783.c78b38","name":"Gauge","group":"b64d418e.a9fee","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"celcius","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":679,"y":274,"wires":[]},{"id":"b04d9a83.124a88","type":"ui_text","z":"ab4fa783.c78b38","group":"ba591e2b.b8398","order":0,"width":0,"height":0,"name":"Humidity","label":"Humidity (Absolute): ","format":"{{msg.payload}}","layout":"row-left","x":704,"y":454,"wires":[]},{"id":"852ab332.8b49e","type":"ui_chart","z":"ab4fa783.c78b38","name":"Chart","group":"ba591e2b.b8398","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":700,"y":511,"wires":[[],[]]},{"id":"344fa534.bdfbca","type":"comment","z":"ab4fa783.c78b38","name":"MQTT Out: LED","info":"This section sends messages to the LLED MQTT topic","x":419,"y":668,"wires":[]},{"id":"34ea26f5.fe29da","type":"ui_text","z":"ab4fa783.c78b38","group":"c83a144d.0539e8","order":0,"width":0,"height":0,"name":"Color Picker","label":"Choose a Colour","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":782,"wires":[]},{"id":"c3e6347d.368bf8","type":"ui_button","z":"ab4fa783.c78b38","name":"Red Button","group":"c83a144d.0539e8","order":0,"width":"2","height":"1","passthru":false,"label":"Red","color":"#000000","bgcolor":"#ff4242","icon":"","payload":"{\"color\":\"R\"}","payloadType":"json","topic":"","x":113,"y":846,"wires":[["bc17fdb9.c8f64","34ea26f5.fe29da","68b9f4.d639460c"]]},{"id":"bc17fdb9.c8f64","type":"mqtt out","z":"ab4fa783.c78b38","name":"LED Change","topic":"test_data/LEDchange","qos":"","retain":"","broker":"efb4fb5d.a04ad8","x":716,"y":910,"wires":[]},{"id":"fe06840e.2135e8","type":"ui_button","z":"ab4fa783.c78b38","name":"Green Button","group":"c83a144d.0539e8","order":0,"width":"2","height":"1","passthru":false,"label":"Green","color":"#000000","bgcolor":"#66ff75","icon":"","payload":"{\"color\":\"G\"}","payloadType":"json","topic":"","x":113,"y":896,"wires":[["bc17fdb9.c8f64","34ea26f5.fe29da","68b9f4.d639460c"]]},{"id":"f6d65663.732368","type":"ui_button","z":"ab4fa783.c78b38","name":"Blue Button","group":"c83a144d.0539e8","order":0,"width":"2","height":"1","passthru":false,"label":"Blue","color":"#000000","bgcolor":"#66d8ff","icon":"","payload":"{\"color\":\"B\"}","payloadType":"str","topic":"","x":109,"y":954,"wires":[["bc17fdb9.c8f64","34ea26f5.fe29da","68b9f4.d639460c"]]},{"id":"68b9f4.d639460c","type":"ui_text","z":"ab4fa783.c78b38","group":"c83a144d.0539e8","order":0,"width":0,"height":0,"name":"Seperator","label":" ","format":"{{msg.payload}}","layout":"row-center","x":99,"y":1014,"wires":[]},{"id":"1d361bea.ff2314","type":"mqtt in","z":"ab4fa783.c78b38","name":"Current LED State","topic":"test_data/LEDchange","qos":"2","broker":"efb4fb5d.a04ad8","x":132,"y":1106,"wires":[["df0e0183.cd44f"]]},{"id":"df0e0183.cd44f","type":"ui_text","z":"ab4fa783.c78b38","group":"d6e09684.f730b8","order":0,"width":0,"height":0,"name":"Current LED State","label":"Current LED State: ","format":"{{msg.payload}}","layout":"row-left","x":716,"y":1106,"wires":[]},{"id":"eb01bc45.d30eb","type":"mqtt in","z":"ab4fa783.c78b38","name":"","topic":"test_data/temp","qos":"2","broker":"cb56dae0.c51ab8","x":181.01734924316406,"y":247.0104217529297,"wires":[["8e96ff99.882e8","baa5ed3b.33cdf","d4de3c4.0673bc"]]},{"id":"24038fab.f93cf","type":"mqtt in","z":"ab4fa783.c78b38","name":"","topic":"test_data/hum","qos":"2","broker":"cb56dae0.c51ab8","x":170,"y":400,"wires":[["3588ce66.144b12","b04d9a83.124a88","852ab332.8b49e"]]},{"id":"39ac35fe.e8e00a","type":"mqtt in","z":"ab4fa783.c78b38","name":"","topic":"test_data/test_json","qos":"2","broker":"704c6ee1.0b989","x":310,"y":1280,"wires":[["48be95c9.c1205c"]]},{"id":"b4c8c5cb.8b7ac8","type":"mqtt out","z":"ab4fa783.c78b38","name":"","topic":"test_data/test_json","qos":"","retain":"false","broker":"704c6ee1.0b989","x":310,"y":1220,"wires":[]},{"id":"22d82713.4ab5d8","type":"inject","z":"ab4fa783.c78b38","name":"temp json","topic":"","payload":"{\"sensor_id\":1234,\"hum\":13}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":1220,"wires":[["b4c8c5cb.8b7ac8"]]},{"id":"48be95c9.c1205c","type":"json","z":"ab4fa783.c78b38","name":"","property":"payload","action":"","pretty":false,"x":490,"y":1240,"wires":[["ab118c29.6d4e3"]]},{"id":"ab118c29.6d4e3","type":"change","z":"ab4fa783.c78b38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1360,"wires":[["58e7b916.e7e638"]]},{"id":"58e7b916.e7e638","type":"debug","z":"ab4fa783.c78b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":689.111083984375,"y":1519.3333282470703,"wires":[]},{"id":"b64d418e.a9fee","type":"ui_group","z":"","name":"Temperature","tab":"e18975d4.006fa8","order":2,"disp":true,"width":"6"},{"id":"ba591e2b.b8398","type":"ui_group","z":"","name":"Humidity","tab":"e18975d4.006fa8","order":3,"disp":true,"width":"6"},{"id":"c83a144d.0539e8","type":"ui_group","z":"","name":"LED Buttons","tab":"4f6ed6e9.418658","order":1,"disp":true,"width":"6"},{"id":"efb4fb5d.a04ad8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.123","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d6e09684.f730b8","type":"ui_group","z":"","name":"Current LED State","tab":"4f6ed6e9.418658","order":2,"disp":true,"width":"6"},{"id":"cb56dae0.c51ab8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.123","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"704c6ee1.0b989","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e18975d4.006fa8","type":"ui_tab","z":"","name":"Temp & Humidity","icon":"dashboard","order":1},{"id":"4f6ed6e9.418658","type":"ui_tab","z":"","name":"LED Changes","icon":"dashboard","order":2}]