weather_station.txt
[{"id":"9eca87a2.6f9598","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1e67d654.18df3a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"305243a.ec295bc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#2067ae","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#00ffff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#00ffff","edited":true},"page-titlebar-backgroundColor":{"value":"#00ffff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4dffff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#00ffff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b319cf6d.622fa","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"3c77916e.b2ff6e","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"6befe34f.6a426c","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"e31ef642.0ab058","type":"socketio-config","z":"","port":"1881","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"32f1cb99.4373d4","type":"ui_group","z":"","name":"Numbers","tab":"","order":1,"disp":false,"width":"5"},{"id":"28a36873.92aed8","type":"ui_group","z":"","name":"Chart","tab":"","order":2,"disp":false,"width":"18"},{"id":"1b23a837.3e9538","type":"ui_group","z":"","name":"Numbers","tab":"","order":1,"disp":false,"width":"5"},{"id":"a62b1382.b59fe","type":"ui_group","z":"","name":"Chart","tab":"","order":2,"disp":false,"width":"18"},{"id":"850bdb39.08ba58","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"5","collapse":false},{"id":"5be7a8a3.cd4208","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"18","collapse":false},{"id":"55543.202a6abdc","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"8000","clientid":"clientId-QuoZg4tvVP","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"noderedlecture/sensor","birthQos":"2","birthRetain":"false","birthPayload":"{“analyze”:false, “value”:133} ","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cf100f65.b9a4d","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"8000","clientid":"clientId-QuoZg4tvVP","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cb56dae0.c51ab8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.123","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88f35283.f95da","type":"ui_group","z":"","name":"Barometric Pressure","tab":"","order":3,"disp":true,"width":"6"},{"id":"36fdf4ba.a4316c","type":"ui_group","z":"","name":"Humidity","tab":"","order":2,"disp":true,"width":"6"},{"id":"efb4fb5d.a04ad8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.123","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b64d418e.a9fee","type":"ui_group","z":"","name":"Temperature","tab":"","order":2,"disp":true,"width":"6"},{"id":"ba591e2b.b8398","type":"ui_group","z":"","name":"Humidity","tab":"","order":3,"disp":true,"width":"6"},{"id":"c83a144d.0539e8","type":"ui_group","z":"","name":"LED Buttons","tab":"","order":1,"disp":true,"width":"6"},{"id":"d6e09684.f730b8","type":"ui_group","z":"","name":"Current LED State","tab":"","order":2,"disp":true,"width":"6"},{"id":"704c6ee1.0b989","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"710e62fa.34c85c","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"3c9694a6.639aec","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"d7ceef6b.0ba7f","type":"ui_group","z":"","name":"floor 1","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"f6bf7bed.992e88","type":"ui_group","z":"","name":"floor 2","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"7b5fe714.140908","type":"ui_group","z":"","name":"floor3","tab":"","order":4,"disp":true,"width":"11","collapse":true},{"id":"37ec910c.96786e","type":"ui_group","z":"","name":"floor4","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"86d69f9f.88c98","type":"ui_group","z":"","name":"Option","tab":"","order":1,"disp":true,"width":"4","collapse":true},{"id":"739dde86.35f74","type":"ui_group","z":"","name":"Sysinfo","tab":"","order":1,"disp":true,"width":"6"},{"id":"6b7aa03f.c3ab1","type":"ui_group","z":"","name":"Memory","tab":"","order":2,"disp":true,"width":"6"},{"id":"28d4b1e6.65d94e","type":"ui_group","z":"","name":"Arduino","tab":"","order":3,"disp":true,"width":"6"},{"id":"dc92033d.b4d42","type":"ui_group","z":"","name":"TwitterPosts","tab":"","order":4,"disp":true,"width":"6"},{"id":"1f9f0ae2.007c95","type":"ui_group","z":"","name":"Weather","tab":"","order":5,"disp":true,"width":"6"},{"id":"86220e85.8860a","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"","order":6,"disp":true,"width":"6"},{"id":"a707067f.294eb8","type":"ui_group","z":"","name":"Tweets","tab":"","order":7,"disp":true,"width":"6"},{"id":"d97a42e1.efac4","type":"mqtt-broker","broker":"192.168.1.17","port":"1883","clientid":"node-red","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"4eccb725.770a48","type":"ui_group","z":"","name":"UPS Load","tab":"","disp":true,"width":"6"},{"id":"940cca1a.19e758","type":"ui_group","z":"","name":"UPS Battery","tab":"","disp":true,"width":"6"},{"id":"b870914f.85b03","type":"ui_group","z":"","name":"Input Voltage","tab":"","disp":true,"width":"6"},{"id":"dfaf3b6e.071c88","type":"ui_group","z":"","name":"UPS Runtime","tab":"","disp":true,"width":"6"},{"id":"e49ca1f4.20f43","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"77cc5cb6.3d8794","type":"ui_group","z":"","name":"Numbers","tab":"16aef6c4.3e9119","order":1,"disp":false,"width":"8","collapse":false},{"id":"2b33adbf.16e912","type":"ui_group","z":"","name":"Chart","tab":"16aef6c4.3e9119","order":2,"disp":false,"width":"18"},{"id":"16aef6c4.3e9119","type":"ui_tab","z":"","name":"Binance Node Demo","icon":"fa-bitcoin"},{"id":"b62ef821.58f588","type":"twitter-credentials","z":"","screen_name":"@G_wieser"},{"id":"6ee250f9.f93ea","type":"ui_group","z":"","name":"Create IP intf & assign IP","tab":"e10f727b.56962","order":3,"disp":true,"width":"6"},{"id":"baeb5e05.f61a6","type":"ui_tab","z":"","name":"L3VPN","icon":"dashboard","order":1},{"id":"e10f727b.56962","type":"ui_tab","z":"","name":"Discovery","icon":"dashboard","order":2},{"id":"71d724c2.de35cc","type":"ui_group","z":"","name":"Discover Nodes","tab":"e10f727b.56962","order":1,"disp":true,"width":"6"},{"id":"d365d582.571e58","type":"ui_group","z":"","name":"Discover Intfs","tab":"e10f727b.56962","order":2,"disp":true,"width":"6"},{"id":"a02cc1fd.3393e","type":"ui_group","z":"","name":"Customer & Site Selection","tab":"baeb5e05.f61a6","disp":true,"width":"8"},{"id":"f2c4037f.0093b","type":"ui_tab","z":"","name":"L2VPN","icon":"dashboard","order":3},{"id":"be69b0e1.e996b","type":"ui_tab","z":"","name":"Mount Device","icon":"dashboard","order":4},{"id":"2f84dd37.b44f62","type":"ui_group","z":"","name":"Mount Form (Single Device)","tab":"be69b0e1.e996b","disp":true,"width":"6"},{"id":"a110b8d4.5db0f8","type":"ui_group","z":"","name":"PE & Interface Selection","tab":"baeb5e05.f61a6","order":3,"disp":true,"width":"8"},{"id":"40d12ddb.cbfa04","type":"ui_group","z":"","name":"Parameter Entry & Commit","tab":"baeb5e05.f61a6","order":4,"disp":true,"width":"8"},{"id":"757e045b.78a86c","type":"ui_group","z":"","name":"Review Data","tab":"baeb5e05.f61a6","order":4,"disp":true,"width":"16"},{"id":"65267ddf.014b84","type":"ui_group","z":"","name":"Default","tab":"56c88732.1f8308","disp":true,"width":"6"},{"id":"56c88732.1f8308","type":"ui_tab","z":"","name":"Admin","icon":"dashboard","order":6},{"id":"246585a0.2c752a","type":"ui_group","z":"","name":"Show Mounted Devices","tab":"be69b0e1.e996b","disp":true,"width":"8"},{"id":"ac98e589.d6f208","type":"ui_tab","z":"","name":"Bulk Mount","icon":"dashboard","order":5},{"id":"a961cb2b.ad3a78","type":"ui_group","z":"","name":"Load from File","tab":"ac98e589.d6f208","order":1,"disp":true,"width":"8"},{"id":"e3232397.014cd","type":"ui_group","z":"","name":"Load from ODL","tab":"ac98e589.d6f208","order":2,"disp":true,"width":"8"},{"id":"9b220ec9.1935a","type":"ui_group","z":"","name":"Select & Mount","tab":"ac98e589.d6f208","order":3,"disp":true,"width":"8"},{"id":"29c58f21.af8cd","type":"ui_group","z":"","name":"Selected nodes","tab":"ac98e589.d6f208","order":4,"disp":true,"width":"16"},{"id":"7365370.e5e56c8","type":"ui_group","z":"","name":"Google Services","tab":"a0f3d856.390778","order":1,"disp":true,"width":"12"},{"id":"92311e2d.151e2","type":"ui_group","z":"","name":"Ping Latency","tab":"a0f3d856.390778","order":2,"disp":true,"width":"25"},{"id":"a0f3d856.390778","type":"ui_tab","z":"","name":"G-Suite Latency","icon":"fa-google","order":17},{"id":"564b2dc0.fbed24","type":"ui_group","z":"","name":"Sysinfo","tab":"a91a9fa.1f34a6","order":1,"disp":true,"width":"6"},{"id":"97acb1e4.1cc72","type":"ui_group","z":"","name":"Memory","tab":"a91a9fa.1f34a6","order":2,"disp":true,"width":"6"},{"id":"7883235b.34524c","type":"ui_group","z":"","name":"Arduino","tab":"a91a9fa.1f34a6","order":3,"disp":true,"width":"6"},{"id":"38677054.04043","type":"ui_group","z":"","name":"TwitterPosts","tab":"a91a9fa.1f34a6","order":4,"disp":true,"width":"6"},{"id":"94930b38.ce1fc8","type":"ui_group","z":"","name":"Weather","tab":"a91a9fa.1f34a6","order":5,"disp":true,"width":"6"},{"id":"611c91fc.6f47e","type":"ui_group","z":"","name":"Sarahah-Notification","tab":"a91a9fa.1f34a6","order":6,"disp":true,"width":"6"},{"id":"18db44de.274d5b","type":"ui_group","z":"","name":"Tweets","tab":"a91a9fa.1f34a6","order":7,"disp":true,"width":"6"},{"id":"a91a9fa.1f34a6","type":"ui_tab","z":"","name":"Good afternoon, Iheb (your feeds today )","icon":"dashboard"},{"id":"cfd914db.bbb9d8","type":"ui_group","z":"","name":"Stat","tab":"5dff0a7.66e43f4","disp":false,"width":"6"},{"id":"5dff0a7.66e43f4","type":"ui_tab","z":"","name":"Stat","icon":"dashboard"},{"id":"52827da1.05ff04","type":"serial-port","z":"9eca87a2.6f9598","serialport":"COM7","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"1734e69c.384b29","type":"ui_group","z":"9eca87a2.6f9598","name":"CarbonMonoxide in Atmosphere","tab":"c183dc0d.b3fd4","disp":true,"width":"9"},{"id":"c183dc0d.b3fd4","type":"ui_tab","z":"9eca87a2.6f9598","name":"Home","icon":"dashboard"},{"id":"1352ed95.ac3022","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"25eca9a.638eb56","type":"ui_group","z":"","name":"Washing Machine","tab":"798684df.f7e10c","order":2,"disp":true,"width":"6"},{"id":"10546bb8.a07304","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"798684df.f7e10c","type":"ui_tab","z":"","name":"Washing Machine","icon":"dashboard","order":2},{"id":"f65e8fd5.3f81d","type":"ui_group","z":"","name":"Tank 1","tab":"bb90d333.622e6","order":2,"disp":true,"width":"6"},{"id":"9bf0db79.3714c8","type":"ui_group","z":"","name":"Tank 2","tab":"bb90d333.622e6","order":4,"disp":true,"width":"6"},{"id":"672ba879.8e6058","type":"ui_group","z":"","name":"Water Well","tab":"bb90d333.622e6","order":1,"disp":true,"width":"6"},{"id":"2d444b42.a09334","type":"ui_group","z":"","name":"Transfer Pump","tab":"bb90d333.622e6","order":3,"disp":true,"width":"6"},{"id":"8402f780.2e2308","type":"ui_group","z":"","name":"Alarming","tab":"bb90d333.622e6","disp":true,"width":"6"},{"id":"bb90d333.622e6","type":"ui_tab","z":"","name":"Water Utility","icon":"dashboard"},{"id":"a79047b2.a79d38","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"edab737a.a99df","type":"ui_group","z":"","name":"Group 1","tab":"a79047b2.a79d38","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f02f043.7b0e1","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"db964489.0b3168","type":"ui_group","z":"","name":"Outside","tab":"d5e70a4e.ba19d8","order":1,"disp":true,"width":"7"},{"id":"6a9538d6.b459b8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5e70a4e.ba19d8","type":"ui_tab","z":"","name":"Climate","icon":"dashboard","order":1},{"id":"e967eab8.e40178","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b9b252c8.6fea7","type":"ui_group","z":"","name":"Camera","tab":"bdc68b62.6809c8","order":1,"disp":false,"width":"6"},{"id":"bdc68b62.6809c8","type":"ui_tab","z":"","name":"Camera","icon":"dashboard","order":5},{"id":"dd7d446b.828f38","type":"mqtt-broker","z":"","name":"Broker","broker":"35.187.244.240","port":"1883","clientid":"read1","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"105dfeec.a69541","type":"ui_group","z":"","name":"Temperature Room 1","tab":"a2935345.cbc46","order":1,"disp":true,"width":"6","collapse":false},{"id":"88df44d9.954d18","type":"ui_group","z":"","name":"Humidity Room 1","tab":"a2935345.cbc46","order":2,"disp":true,"width":"6","collapse":false},{"id":"12c8e730.1be359","type":"ui_group","z":"","name":"About","tab":"e005dc41.04694","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb0c20c2.aab14","type":"ui_group","z":"","name":"Control Device","tab":"ba253905.b0b258","order":1,"disp":true,"width":"6","collapse":false},{"id":"615d4a52.07e324","type":"ui_group","z":"","name":"Datalog","tab":"a2935345.cbc46","order":3,"disp":true,"width":"6","collapse":false},{"id":"a655f3a0.ba2b6","type":"ui_group","z":"1e67d654.18df3a","name":"Export Data","tab":"a2935345.cbc46","order":4,"disp":true,"width":"6","collapse":false},{"id":"a2935345.cbc46","type":"ui_tab","z":"","name":"Monitoring","icon":"dashboard","order":1},{"id":"e005dc41.04694","type":"ui_tab","z":"","name":"About","icon":"dashboard","order":3},{"id":"ba253905.b0b258","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":2},{"id":"9d0025fe.af7c08","type":"MySQLdatabase","z":"1e67d654.18df3a","host":"35.187.244.240","port":"3306","db":"readsensor","tz":"+7"},{"id":"91cf5ba6.84e888","type":"ui_chart","z":"9eca87a2.6f9598","name":"Temperature Chart","group":"db964489.0b3168","order":2,"width":"4","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":220,"wires":[[],[]]},{"id":"342b0d52.4f9542","type":"mqtt in","z":"9eca87a2.6f9598","name":"","topic":"weatherStation/temperature","qos":"1","broker":"6a9538d6.b459b8","x":167.9998550415039,"y":183.666748046875,"wires":[["91cf5ba6.84e888","903a4f6b.a6251","2e43640c.89470c"]]},{"id":"dbf58b77.21d168","type":"mqtt in","z":"9eca87a2.6f9598","name":"","topic":"weatherStation/humidity","qos":"1","broker":"6a9538d6.b459b8","x":159.83313751220703,"y":93.66664505004883,"wires":[["c3cd3ea.ff941c","2e43640c.89470c"]]},{"id":"d44e6a22.9cb768","type":"ui_chart","z":"9eca87a2.6f9598","name":"Humidity Chart","group":"db964489.0b3168","order":4,"width":"4","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660.8331642150879,"y":126.66663074493408,"wires":[[],[]]},{"id":"c3cd3ea.ff941c","type":"smooth","z":"9eca87a2.6f9598","name":"","action":"mean","count":"100","round":"","mult":"single","x":405.99974060058594,"y":93.6665210723877,"wires":[["d44e6a22.9cb768","891f7bf5.d5bbe8"]]},{"id":"c7877298.ae68a","type":"mqtt in","z":"9eca87a2.6f9598","name":"","topic":"weatherStation/voltage","qos":"1","broker":"6a9538d6.b459b8","x":142.83326721191406,"y":552.6668424606323,"wires":[["3c178c54.9b16f4"]]},{"id":"adbb4bf1.ebab28","type":"mqtt in","z":"9eca87a2.6f9598","name":"","topic":"weatherStation/pressure","qos":"1","broker":"6a9538d6.b459b8","x":158.8331069946289,"y":282.66654872894287,"wires":[["2fc97874.e0b688"]]},{"id":"2fc97874.e0b688","type":"function","z":"9eca87a2.6f9598","name":"pascal to hecto","func":"msg.payload *= 0.01;\nreturn msg;","outputs":1,"noerr":0,"x":421.9998321533203,"y":284.33325481414795,"wires":[["3af4255b.91150a","2e43640c.89470c"]]},{"id":"891f7bf5.d5bbe8","type":"ui_gauge","z":"9eca87a2.6f9598","name":"","group":"db964489.0b3168","order":3,"width":"2","height":"3","gtype":"wave","title":"Humidity","label":"%","format":"{{value|number:1}}","min":0,"max":"100","colors":["#5a5a5a","#34b92d","#0202ff"],"seg1":"","seg2":"","x":637.9998359680176,"y":76.6665563583374,"wires":[]},{"id":"903a4f6b.a6251","type":"ui_gauge","z":"9eca87a2.6f9598","name":"","group":"db964489.0b3168","order":1,"width":"2","height":"3","gtype":"gage","title":"Temperature","label":"°C","format":"{{value|number:1}}","min":"-20","max":"50","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"0","seg2":"30","x":649.9998435974121,"y":174.66656303405762,"wires":[]},{"id":"3af4255b.91150a","type":"ui_gauge","z":"9eca87a2.6f9598","name":"","group":"db964489.0b3168","order":7,"width":"2","height":"3","gtype":"gage","title":"Pressure","label":"hPa","format":"{{value|number:2}}","min":"900","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":643.9998359680176,"y":284.66662979125977,"wires":[]},{"id":"f3ecc48a.984858","type":"mqtt in","z":"9eca87a2.6f9598","name":"","topic":"weatherStation/light","qos":"1","broker":"6a9538d6.b459b8","x":138.83309936523438,"y":364.66659355163574,"wires":[["7f1db0a1.3e636","2e43640c.89470c","7a96619e.894ea"]]},{"id":"7f1db0a1.3e636","type":"ui_gauge","z":"9eca87a2.6f9598","name":"","group":"db964489.0b3168","order":5,"width":"2","height":"3","gtype":"gage","title":"Light","label":"","format":"{{value|number:2}}","min":"0","max":"1","colors":["#000080","#c0c0c0","#ffff80"],"seg1":"","seg2":"","x":634.8333320617676,"y":350.66663360595703,"wires":[]},{"id":"a48bb7c3.063d68","type":"function","z":"9eca87a2.6f9598","name":"state to finished html icon","func":"\nvar moon = \"&#127769;\";\nvar rain = \"&#127783;\";\nvar sun = \"&#127774\";\nvar cloud = \"&#9925;\";\n\ncontext.humidity = context.humidity || 50;\ncontext.light = context.light || 0.5;\ncontext.pressure = context.pressure || 1000;\n\nif(msg.topic === 'humidity' && msg.payload != 'nan')\n context.humidity = msg.payload;\nif(msg.topic === 'light' && msg.payload != 'nan')\n context.light = msg.payload;\nif(msg.topic === 'pressure' && msg.payload != 'nan')\n context.pressure = msg.payload;\n\nif(context.humidity < 50)\n{\n if(context.light > 0.1)\n msg.payload = sun;\n else\n msg.payload = moon;\n}\nelse \nif(context.humidity < 80)\n{\n //if(context.light > 0.1)\n msg.payload = cloud;\n //else\n // msg.payload = moon;\n}\nelse\n{\n msg.payload = rain;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":708.8330154418945,"y":481.6664762496948,"wires":[["d6f0b09f.bc3b"]]},{"id":"2e43640c.89470c","type":"change","z":"9eca87a2.6f9598","name":"translate topic","rules":[{"t":"change","p":"topic","pt":"msg","from":"weatherStation/humidity","fromt":"str","to":"humidity","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"weatherStation/temperature","fromt":"str","to":"temperature","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"weatherStation/light","fromt":"str","to":"light","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"weatherStation/pressure","fromt":"str","to":"pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":468.83300018310547,"y":478.66647720336914,"wires":[["a48bb7c3.063d68"]]},{"id":"d6f0b09f.bc3b","type":"ui_template","z":"9eca87a2.6f9598","group":"db964489.0b3168","name":"Weather symbol","order":8,"width":"3","height":"3","format":"<div ng-bind-html=\"msg.payload\" style=\"font-size: 50pt\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":966.8330268859863,"y":479.66647577285767,"wires":[[]]},{"id":"7a96619e.894ea","type":"ui_chart","z":"9eca87a2.6f9598","name":"Light Chart","group":"db964489.0b3168","order":6,"width":"4","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":648.8330993652344,"y":408.6665143966675,"wires":[[],[]]},{"id":"3c178c54.9b16f4","type":"function","z":"9eca87a2.6f9598","name":"scale","func":"msg.payload *= 3.304 / 2788;\nreturn msg;","outputs":1,"noerr":0,"x":420.83299255371094,"y":556.666482925415,"wires":[["a5459bf4.71f0a8"]]},{"id":"a5459bf4.71f0a8","type":"debug","z":"9eca87a2.6f9598","name":"","active":false,"console":"false","complete":"false","x":669.9998550415039,"y":556.6664817333221,"wires":[]},{"id":"7e05862.1e6ae78","type":"template","z":"1e67d654.18df3a","name":"CCS","field":"payload.stype","fieldType":"msg","format":"css","syntax":"mustache","template":"*,\n*::after,\n*::before {\n  box-sizing: border-box;\n}\n\nhtml {\n  font-size: 62.5%;\n}\n\nbody {\n  font-size: 1.6rem;\n  font-family: sans-serif;\n  color: #fff;\n  background: #333;\n}\n\na {\n  text-decoration: none;\n}\n\nsection {\n  width: 100%;\n  height: 100vh;\n  display: table;\n}\n\nsection .center {\n  display: table-cell;\n  vertical-align: middle;\n  text-align: center;\n}\n\n.trigger {\n  position: relative;\n  background: #007ee5;\n  display: inline-block;\n  width: 200px;\n  height: 60px;\n  color: #fff;\n  border-radius: 50em;\n  box-shadow: 0 2px 10px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .2);\n}\n\nspan,\nem,\ni {\n  position: absolute;\n  width: 100%;\n  height: 100%;\n  left: 0;\n}\n\nspan {\n  overflow: hidden;\n}\n\nem,\ni {\n  transition: top .3s;\n}\n\nem {\n  top: 0;\n  line-height: 60px;\n}\n\ni {\n  top: 100%;\n  background: url(https://cdn3.iconfinder.com/data/icons/popular-services-1/512/dropbox-48.png) no-repeat center center;\n}\n\n.trigger:hover em {\n  top: -100%;\n}\n\n.trigger:hover i {\n  top: 0;\n}\n\n.trigger::before,\n.trigger::after {\n  position: absolute;\n  opacity: 0;\n  transition: all .3s;\n  visibility: hidden;\n}\n\n.trigger::before {\n  content: \"File Size: 50MB\";\n  position: absolute;\n  width: 140px;\n  height: 60px;\n  background: #E58B00;\n  border-radius: .25em;\n  line-height: 60px;\n  bottom: 90px;\n  left: calc(50% - 70px);\n}\n\n.trigger:after {\n  content: '';\n  width: 0;\n  height: 0;\n  border: 10px solid #333;\n  border-top-color: #E58B00;\n  left: calc(50% - 10px);\n  bottom: 70px;\n}\n\n.trigger:hover::before,\n.trigger:hover::after {\n  opacity: 1;\n  visibility: visible;\n}","output":"str","x":470,"y":840,"wires":[[]]},{"id":"401cfa17.470574","type":"mqtt in","z":"1e67d654.18df3a","name":"Read Sensor","topic":"send","qos":"0","broker":"dd7d446b.828f38","x":130,"y":200,"wires":[["c25b46e7.614788"]]},{"id":"c25b46e7.614788","type":"json","z":"1e67d654.18df3a","name":"","property":"payload","action":"","pretty":false,"x":270,"y":200,"wires":[["c83ba474.6ca618","157c7fe3.46628","65b7bec8.51e4"]]},{"id":"c83ba474.6ca618","type":"change","z":"1e67d654.18df3a","name":"Out Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[["c114e78.11f1418"]]},{"id":"157c7fe3.46628","type":"change","z":"1e67d654.18df3a","name":"Out Humi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hum","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":240,"wires":[["b15bf881.bc3728"]]},{"id":"c114e78.11f1418","type":"ui_gauge","z":"1e67d654.18df3a","name":"Gauge Temp R1","group":"105dfeec.a69541","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"oC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":200,"wires":[]},{"id":"b15bf881.bc3728","type":"ui_gauge","z":"1e67d654.18df3a","name":"Gauge Hum R1","group":"88df44d9.954d18","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":240,"wires":[]},{"id":"65b7bec8.51e4","type":"delay","z":"1e67d654.18df3a","name":"delay 5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":280,"wires":[["78c54f87.cf21d"]]},{"id":"78c54f87.cf21d","type":"function","z":"1e67d654.18df3a","name":"Insert DB","func":"var year = new Date().getFullYear().toString();\nvar month = new Date().getMonth().toString() ;\nif(month<10) {\n    month = \"0\" + month;\n}\nvar date = new Date().getDate().toString();\nif(date<10) {\n    date = \"0\" + date;\n}\nvar day = year + month + date;\nvar out = \"INSERT INTO sensor (temp,humi,time,timed)\";\nout = out + \" VALUES ('\"+ msg.payload.temp +\"','\"+ msg.payload.hum +\"','\"+ new Date().toLocaleTimeString(\"ja-JP\") + \"','\"+ day +\"')\";\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["8e1e54e7.3ba1c8"]]},{"id":"e5ec4c56.483ce","type":"inject","z":"1e67d654.18df3a","name":"Clock 1S","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["50bbd58a.f66efc"]]},{"id":"50bbd58a.f66efc","type":"function","z":"1e67d654.18df3a","name":"Read 15 DB","func":"msg.topic = \"SELECT * FROM sensor ORDER BY ID DESC LIMIT 20\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["54839b30.ef2274"]]},{"id":"f77f755c.6fc6c8","type":"function","z":"1e67d654.18df3a","name":"Read Temp","func":"var str = msg.payload;\nstr = str[0]['temp'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["724e5b5c.926ef4"]]},{"id":"b5a98e2c.3695c","type":"function","z":"1e67d654.18df3a","name":"Read Hum","func":"var str = msg.payload;\nstr = str[0]['humi'];\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":380,"wires":[["4083c0e1.2ce4d"]]},{"id":"ad164edb.26728","type":"ui_chart","z":"1e67d654.18df3a","name":"","group":"105dfeec.a69541","order":0,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"msg.payload","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":970,"y":340,"wires":[[],[]]},{"id":"38467f84.3f842","type":"ui_chart","z":"1e67d654.18df3a","name":"","group":"88df44d9.954d18","order":0,"width":0,"height":0,"label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":970,"y":380,"wires":[[],[]]},{"id":"7539ed21.8b49c4","type":"function","z":"1e67d654.18df3a","name":"Read 15 DB","func":"var from = global.get(\"fromday\");\nvar to = global.get(\"today\");\nmsg.topic = \"SELECT * FROM sensor WHERE Timed BETWEEN \"+ from + \" AND \" + to ;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["17f04c27.d5e034"]]},{"id":"f54b7841.4a61e8","type":"debug","z":"1e67d654.18df3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":500,"wires":[]},{"id":"5c823faf.a8b59","type":"ui_text","z":"1e67d654.18df3a","group":"12c8e730.1be359","order":0,"width":0,"height":0,"name":"About","label":"Contact : Cesasvn.com","format":"{{msg.payload}}","layout":"col-center","x":390,"y":640,"wires":[]},{"id":"cba4dab9.e30c88","type":"ui_text","z":"1e67d654.18df3a","group":"12c8e730.1be359","order":0,"width":0,"height":0,"name":"About","label":"Siris Robotics CO ., LTD","format":"{{msg.payload}}","layout":"col-center","x":510,"y":640,"wires":[]},{"id":"770f65f0.d3a51c","type":"ui_text","z":"1e67d654.18df3a","group":"eb0c20c2.aab14","order":0,"width":0,"height":0,"name":"Control","label":"Comming soon !","format":"{{msg.payload}}","layout":"col-center","x":260,"y":640,"wires":[]},{"id":"6efb4a8f.c02204","type":"ui_template","z":"1e67d654.18df3a","group":"615d4a52.07e324","name":"Table","order":0,"width":"6","height":"8","format":"<table style=\"width:100%\" bordercolor=\"#0b8c93\" border=\"1px\" cellspacing=\"0px\">\n<tr bgcolor=\"#0b8c93\" height=\"30px\" border=\"1\">\n<th>Index</th>\n<th>Temp</th>\n<th>Hum</th>\n<th width=\"40%\">Time</th>\n</tr>\n<tr align=\"center\" ng-repeat=\"x in msg.payload | limitTo:20\">\n<td>{{$index}}</td>\n<td>{{msg.payload[$index].temp}}</td>\n<td>{{msg.payload[$index].humi}}</td>\n<td>{{msg.payload[$index].time}}</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":670,"y":420,"wires":[[]]},{"id":"6db3a6d2.623468","type":"ui_template","z":"1e67d654.18df3a","group":"a655f3a0.ba2b6","name":"","order":3,"width":0,"height":0,"format":"<html>\n<head>\n</head>\n<body>\n\n<form action = \"http://35.186.150.189:1880/Data-export.xlsx\" method = \"get\">\n    <button \n    type=\"submit\"\n    name = \"Submit\"\n    value = \"Download Records\"\n    formenctype=\"text/plain\"\n    \n    >Download Excel</button>\n    \n    <section>\n  <div class=\"center\">\n    <a class=\"trigger\" href=\"https://codyhouse.co/course/mastering-css-transitions-transformations-animations/\">\n      <span>\n        <em>Download</em><i aria-hidden=\"true\"></i>\n      </span>\n    </a>\n  </div>\n</section>\n    \n</form>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":920,"y":840,"wires":[[]]},{"id":"833c0b01.b934b8","type":"ui_date_picker","z":"1e67d654.18df3a","name":"From Day","label":"From","group":"a655f3a0.ba2b6","order":1,"width":"0","height":"0","passthru":false,"topic":"day","x":120,"y":500,"wires":[["e7ad7c.296dd288"]]},{"id":"c6a448a5.acd998","type":"ui_date_picker","z":"1e67d654.18df3a","name":"To Day","label":"To","group":"a655f3a0.ba2b6","order":2,"width":0,"height":0,"passthru":true,"topic":"day","x":110,"y":540,"wires":[["c12bf8e6.c2d988"]]},{"id":"e7ad7c.296dd288","type":"function","z":"1e67d654.18df3a","name":"Read From To","func":"var year = new Date(msg.payload).getFullYear().toString();\nvar month = new Date(msg.payload).getMonth().toString() ;\nif(month<10) {\n    month = \"0\" + month;\n}\nvar date = new Date(msg.payload).getDate().toString();\nif(date<10) {\n    date = \"0\" + date;\n}\nvar day = year + month + date ;\nmsg.payload = day;\nglobal.set(\"fromday\",day);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["7539ed21.8b49c4"]]},{"id":"c12bf8e6.c2d988","type":"function","z":"1e67d654.18df3a","name":"Read From To","func":"var year = new Date(msg.payload).getFullYear().toString();\nvar month = new Date(msg.payload).getMonth().toString() ;\nif(month<10) {\n    month = \"0\" + month;\n}\nvar date = new Date(msg.payload).getDate().toString();\nif(date<10) {\n    date = \"0\" + date;\n}\nvar day = year + month + date ;\nmsg.payload = day;\nglobal.set(\"today\",day);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":540,"wires":[["7539ed21.8b49c4"]]},{"id":"724e5b5c.926ef4","type":"change","z":"1e67d654.18df3a","name":"Out Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":340,"wires":[["ad164edb.26728"]]},{"id":"4083c0e1.2ce4d","type":"change","z":"1e67d654.18df3a","name":"Out Humi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":380,"wires":[["38467f84.3f842"]]},{"id":"c95e07fb.57c7f8","type":"ui_button","z":"1e67d654.18df3a","name":"","group":"a655f3a0.ba2b6","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"pets","payload":"1","payloadType":"num","topic":"down","x":690,"y":600,"wires":[["56cc81a8.7c3d1"]]},{"id":"2fc1bb84.e1dd44","type":"inject","z":"1e67d654.18df3a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":740,"wires":[[]]},{"id":"984b3c60.b73e","type":"inject","z":"1e67d654.18df3a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":700,"wires":[["56cc81a8.7c3d1"]]},{"id":"56cc81a8.7c3d1","type":"debug","z":"1e67d654.18df3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":700,"wires":[]},{"id":"1814ceb4.64ba51","type":"template","z":"1e67d654.18df3a","name":"Html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<section>\n  <div class=\"center\">\n    <a class=\"trigger\" href=\"https://codyhouse.co/course/mastering-css-transitions-transformations-animations/\">\n      <span>\n        <em>Download</em><i aria-hidden=\"true\"></i>\n      </span>\n    </a>\n  </div>\n</section>\n\n<div class=\"footer\"><a href=\"https://codyhouse.co/course/mastering-css-transitions-transformations-animations/\">Mastering CSS Transitions, Transformations & Animations</a></div>","output":"str","x":630,"y":920,"wires":[[]]},{"id":"e9138c8f.74ff","type":"template","z":"1e67d654.18df3a","name":"Java Script","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"","output":"str","x":310,"y":840,"wires":[["7e05862.1e6ae78"]]},{"id":"b1e22a40.a0fd38","type":"ui_template","z":"1e67d654.18df3a","group":"a655f3a0.ba2b6","name":"","order":0,"width":0,"height":0,"format":"<head>\n        <meta charset=\"UTF-8\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n        <title>Javascript Example</title>\n    </head>\n    <body>\n        <h2>Thay đổi CSS cho thẻ HTML</h2>\n \n        <div id=\"content\" style=\"padding: 20px; background: #ddd; color: white; margin: 40px 0px;\">\n            CHÀO MỪNG BẠN ĐẾN VỚI FREETUTS.NET\n        </div>\n \n        <input type=\"button\" id=\"btn1\" value=\"Đổi Backgroud màu đỏ\"/>\n        <input type=\"button\" id=\"btn2\" value=\"Đổi Backgroud màu xanh\"/>\n \n        <script language=\"javascript\">\n            // Lấy 2 button và thẻ div\n            var button1 = document.getElementById(\"btn1\");\n            var button2 = document.getElementById(\"btn2\");\n            var div = document.getElementById('content');\n \n            // Thiết lập click cho button 1\n            button1.onclick = function () {\n                div.style.background = \"red\";\n            };\n \n            // Thiết lập click cho button 2\n            button2.onclick = function () {\n                div.style.background = \"blue\";\n            };\n        </script>\n    </body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":800,"wires":[[]]},{"id":"bc1a53df.b04d5","type":"http in","z":"1e67d654.18df3a","name":"","url":"sign","method":"get","upload":false,"swaggerDoc":"","x":160,"y":840,"wires":[["3f4bd475.6f5c8c"]]},{"id":"b0626349.b9832","type":"http response","z":"1e67d654.18df3a","name":"","statusCode":"","headers":{},"x":610,"y":840,"wires":[]},{"id":"3f4bd475.6f5c8c","type":"template","z":"1e67d654.18df3a","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/signup\" method=\"post\">\n      <h1>Enter your information below to sign up for our newsletter</h1>\n      <label for=\"email\">Email Address:</label>\n      <input type=\"text\" name=\"email\" />\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>","output":"str","x":360,"y":900,"wires":[["b0626349.b9832"]]},{"id":"b1e80962.75cb08","type":"excel","z":"1e67d654.18df3a","name":"Out Excel","file":"/home/nguyenvanbinh993/Data-export.xlsx","x":780,"y":500,"wires":[["f54b7841.4a61e8"]]},{"id":"8e1e54e7.3ba1c8","type":"mysql","z":"1e67d654.18df3a","mydb":"d1968329.abe5","name":"DB Sensor","x":750,"y":280,"wires":[[]]},{"id":"54839b30.ef2274","type":"mysql","z":"1e67d654.18df3a","mydb":"d1968329.abe5","name":"DB Sensor","x":470,"y":340,"wires":[["f77f755c.6fc6c8","b5a98e2c.3695c","6efb4a8f.c02204"]]},{"id":"17f04c27.d5e034","type":"mysql","z":"1e67d654.18df3a","mydb":"d1968329.abe5","name":"DB Sensor","x":630,"y":500,"wires":[["b1e80962.75cb08"]]}]